body {
  margin: 0px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffcc66;
}

.apple-body {
  display: flex;
  height: 350px;
  width: 400px;
  background-color: red;
  border-radius: 46%;
}

.light{
    position: relative;
    top: 9%;
    left: -50px;
    height: 280px;
    width: 300px;
    border-radius: 50%;
    box-shadow: -20px 0 0 0 white;
}

.shadow{
    position: relative;
    top: 12%;
    right: 8%;
    height: 250px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 10px 0 0 0 brown;
}

.stalk{
    position: relative;
    top: -15px;
    left: 35%;
}

.stalk-base{
    height: 50px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 10px 0 0 brown;
}
